<html>
<head>
    {% if title %}
        <title>{{title}} - microblog</title>
    {% else %}
        <title>microblog</title>
    {% endif %}
    <script src="../static/javascript/moment-with-locales.min.js"></script>
    <script type="text/javascript">
        moment.locale("{{ g.locale }}")
    </script>
</head>
<body>
<div>
    Microblog:
    <a href="{{ url_for('index') }}">Home</a>
    {% if not g.user.is_authenticated %}
        | <a href="{{ url_for('login') }}">Log in</a>
        or <a href="{{ url_for('sign_up') }}">Sign up</a>
    {% else %}
        | <a href="{{ url_for('users', user_id = current_user.id) }}">Profile</a>
        | <form style="display: inline" action="{{ url_for("search") }}" method="post" name="search">
        {{ g.search_form.hidden_tag() }}
        {{g.search_form.searchString(size=20)}}
        {{ g.search_form.search }}
    </form>
        | <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>
<hr />
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
{% block js %}{% endblock %}
</body>


</html>
