{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src={{ url_for("static", filename="image/user.png") }}  width="100" height="100" ></td>
            <td><h1>User: {{user.nickname}}</h1></td>
        </tr>
    </table>
    {% if user.about_me %}
        <p  >about me: {{ user.about_me }}   <a onclick="about_me()" style="color:#4499EE;">Edit</a></p>
    {% else %}
        <p style="color:#4499EE;" onclick="about_me()">about me: I'm a person. ---- this info from the system.</p>
    {% endif %}

    <div id="aboutMe" style="display:none;">
        <form action="{{ url_for('about_me', user_id=g.user.id) }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.describe }}
            {{ form.submit }}
        </form>
    </div>

    <p style="color:#4c4c4c;">last : {{user.last_seen }}</p>

    <a href="{{ url_for('publish', user_id=g.user.id) }}">Want to publish blogs?</a>

    <hr />
    <hr>
    <p>hello</p>

    {% for post in posts %}
        {% include 'post.html' %}
    {% endfor %}
{% endblock %}
{% block js %}
    {#    <script src="../static/javascript/user.js"></script>#}
    <script type="text/javascript">
       ~function () {
         console.log({{ posts }})
       }()
        function about_me() {
            document.getElementById("aboutMe").style.display="";
        }
    </script>

{% endblock %}